/* 
//     #######################################
//     #                                     #
//     #                CSS                  #
//     #                                     #
//     #######################################

// ========================================================================================================

// CSS for task manager app

// ======================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat&family=Sacramento&display=swap');

/* font-family: 'Barlow Condensed', sans-serif;

font-family: 'Montserrat', sans-serif; */

/*
// ======================================================================================================== */

* {
  padding: 2px;
}

hr {
  background-color: #2C2B3C;
  margin: 0px 10px;
  border: 0px;
}

body {
  font-size: 1rem;
  min-height: 100vh;
  background-color: grey;
  font-family: 'Montserrat', sans-serif;
}

h1,h2 {
  color: #FF0054;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  text-shadow: 2px 2px #ffffff;
  margin-bottom: 2px;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

/*
// ======================================================================================================== */

.container {
  width: 60%;
  background-color: #ffffffe1;
  box-shadow: 2px 2px 10px rgb(95, 95, 95);
  height: 90vh;
  overflow: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.newTask {
  width: 25%;
  background-color: #2C2B3C;
  align-self: flex-start;
  padding: 20px;
}

.innerTask {
  padding: 20px;
  background-color: rgb(207, 207, 207);
  box-shadow: 2px 2px 10px rgb(26, 26, 26);
  border-radius: 10px;
}

.inputwrapper {
  background-color: white;
  border-radius: 20px;
  display: flex;

}

.newTask button {
  background-color: #0ab290;
  color: white;
  font-size: 2.1em;
  border-radius: 20px;
  width: 20%;
  border: transparent;
  transition-duration: 0.2s;
  box-shadow: 1px 1px grey;
  margin: 2px 0px;
}

.newTask button:hover {
  background-color: #0f6c59;
  color: white;
}

.newTask button:active {
  background-color: #0f6c59;
  color: white;
  transform: translateY(2px);
  box-shadow: 0px 1px grey;
}

.taskList {
  flex: 1;
}

.taskCard {
  display: flex;
  background-color: white;
  margin: 0 1% 1% 1%;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.276);
}

.taskCard p {
  flex: 1;
  text-align: center;
}

.done, .delete {
  width:8%;
  border: 0px;
  box-shadow: 1px 1px grey;
  font-size: 2em;
  transition-duration: 0.3s;
}

.done{
  background-color: #0ab290;
  color: white;
}

.done:hover{
  background-color: #0f6c59;
  color: white;
}

.done:active{
  background-color: #0f6c59;
  color: white;
  transform: translateY(2px);
  box-shadow: 0px 1px grey;
}


.delete{
  background-color: #b20a0a;
  color: white;
}

.delete:hover{
  background-color: #6c0f0f;
  color: white;
}

.delete:active{
  background-color: #6c0f0f;
  color: white;
  transform: translateY(2px);
  box-shadow: 0px 1px grey;
}


input {
  font-size: 1.4em;
  width: 80%;
  text-align: center;
  margin-right: 10px;
  border: 0px;
  background-color: transparent;
  padding: 3px;
}

.doneItem {
  text-decoration: line-through;
  opacity: 0.3;
}

.delItem {
  display: none;
}